My workflow (1).json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "text": "= {{ $json.output  }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        768,
        0
      ],
      "id": "408cfe67-b81c-4060-8660-8fde799975c4",
      "name": "Create Tweet",
      "retryOnFail": true,
      "maxTries": 4,
      "credentials": {
        "twitterOAuth2Api": {
          "id": "66iFiu86S5cgFpAY",
          "name": "X account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        656,
        224
      ],
      "id": "fdc978c0-ee82-43f0-8f8e-75c4665e93f4",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "8rZGAzAUXLGnUZZM",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            },
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        0
      ],
      "id": "a6e9b6c7-f13c-4594-a875-4a818c1dfdad",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json['Readable date'] }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        480,
        224
      ],
      "id": "333a600a-c77c-498c-97de-7630e606e6ec",
      "name": "Simple Memory",
      "notesInFlow": false
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are an AI agent that searches for the latest news about drones, UAV technology, or DGCA drone regulations in India. Find one or two of the most recent and credible news articles about drones. Then write a short, engaging tweet (under 250 characters) summarizing the key news update in a catchy way. Include relevant hashtags like #Drones #UAV #TechNews and, if appropriate, tag the source or mention India-specific context. Avoid adding opinions — stay factual and professional.\n\nExample Output:\n“DGCA introduces new guidelines to boost commercial drone use in India 🚁 A big step for UAV innovation and safety! #Drones #UAV #TechNews”",
        "options": {
          "systemMessage": "You are an AI agent that searches for the latest news about drones, UAV technology, or DGCA drone regulations in India. Find one or two of the most recent and credible news articles about drones. Then write a short, engaging tweet (under 250 characters) summarizing the key news update in a catchy way. Include relevant hashtags like #Drones #UAV #TechNews and, if appropriate, tag the source or mention India-specific context. Avoid adding opinions — stay factual and professional.\n\nExample Output:\n“DGCA introduces new guidelines to boost commercial drone use in India 🚁 A big step for UAV innovation and safety! #Drones #UAV #TechNews”"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "0bf296b0-e7e3-404f-8a8e-ebb0fff0842b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "z-ai/glm-4.5-air:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        160,
        208
      ],
      "id": "f37410df-a9df-4571-83d5-83a943a66f2c",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "Y0dEOPpQ1owqiElH",
          "name": "OpenRouter account 3"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        288,
        208
      ],
      "id": "9c213a12-cf50-4f60-9662-4dbfd10fc407",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "wyiuzhMoOVgsEuMA",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Create Tweet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "897c92b3-09d6-46c0-a284-a5f812fee603",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7424a8f1fd0a0f6b0d52d2c12a2c868f4188772ab91d78d714a62fe830b6481b"
  },
  "id": "biruosLmUY2ELk79",
  "tags": []
}